<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  {% for m in messages %}
  <p>{{ m }}</p>
  {% endfor %}

  <h3>Your nutrition intake for today</h3>

  <h5>Protein</h5>
  <p>Target: { proteinTarget }</p>
  <p>Current intake: { proteinIntake }</p>

  <h5>Calories</h5>
  <p>Target: { calorieTarget }</p>
  <p>Current intake: { calorieIntake }</p>

  <h5>Eaten today</h5>
  <ul>
    {% for food in foods %}
    <li>{{ food }}</li>
    {% endfor %}
  </ul>


</body>
</html>