<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  {% for m in messages %}
  <p style="color: red;">{{ m }}</p>
  {% endfor %}

  <h3>Your nutrition intake for today</h3>

  <h5>Protein</h5>
  <p>Target: {{ pt }} g</p>
  <p>Current intake: {{ pi or 0 }} g</p>
  <form action="{{ url_for('update_protein') }}" method="post">
    <label for="protein_target">Update protein target:</label><br>
    <input type="number" name="protein_target" id="protein_target" min="0" required>
    <button type="submit">Update protein target</button>
  </form>

  <h5>Calories</h5>
  <p>Target: {{ ct }} kcal</p>
  <p>Current intake: {{ ci or 0}} kcal</p>
  <form action="{{ url_for('update_calories') }}" method="post">
    <label for="calorie_target">Update calorie target:</label><br>
    <input type="number" name="calorie_target" id="calorie_target" min="0" required>
    <button type="submit">Update calorie target</button>
  </form>


  <h5>Eaten today</h5>
  <ul>
    {% for food in foods %}
    <li>{{ food }}</li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('foods.all_foods') }}">Foods</a>

  <a href="{{ url_for('profile', user_id=user_id) }}">Profile</a>

  <p>Logged in as {{ user }}</p>
  <a href="{{ url_for('logout') }}">Logout</a>

</body>
</html>