<!DOCTYPE html>
<html>

<head>
  <title>Registeration</title>
</head>

<body>

  {% for m in messages %}
    <p style="color: red;">{{ m }}</p>
  {% endfor %}

  <form action="/create" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" maxlength="30" required>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" minlength="1" required>
    </p>
    <p>
      Password again: <br />
      <input type="password" name="password2" minlength="1" required>
    </p>
    <input type="submit" value="Create user" />
  </form>
</body>

<br>

<a href="/login">Log In</a>

</html>